.product-view{
    margin-top: 150px;
}
.product-image{
    height: 300px;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #1eb2a6;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4); /* Adjust shadow values as needed */
}


.add-to-cart {
  background-color: #1eb2a6;
  color: #fff;
  border: none;
  
  
}